<div class="filter">
  <div class="text">Filter by</div>

  <mat-button-toggle-group
    name="filter"
    [(ngModel)]="filterService.current"
    (change)="onRefresh()">
    <mat-button-toggle class="button_view_all" [value]="Filter.ALL">
      view all
    </mat-button-toggle>

    <mat-button-toggle class="button_completed" [value]="Filter.COMPLETED">
      completed
    </mat-button-toggle>

    <mat-button-toggle class="button_uncompleted" [value]="Filter.UNCOMPLETED">
      uncompleted
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
