:root {
  --font-size-base: 18px;

  --background-color: #f6f8fa;
  --background2-color: #e1e4e8;
  --background-light-color: #fff;

  --text-color: #24292e;
  --primary-color: #0366d6;
  --primary-color-strong: #0351AA;
  --primary-color-light: #1E85FC;
  --secondary-color: #6a737d;

  --warn-color: #d73a49;

  --green-color: #28a745;
  --green-bold-color: #218838;

  --loading-base-color: #eaeaea;
  --loading-highlight-color: #f2f2f2;
}

html, body {
  height: 100%;
  z-index: 1;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

