.todo_list {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 20px 0;
}

.todo_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 8px;
}

.todo_item_info {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 12px;
}

.todo_item_checkbox {
  width: 30px;
  height: 30px;

  cursor: pointer;
}

.todo_item_completed {
  color: var(--secondary-color);
  text-decoration: line-through;
}

.todo_item_remove {
  cursor: pointer;
  color: var(--text-color);
}

.todo_item_remove:hover {
  color: var(--warn-color);
}

.empty_state {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 100px;
  gap: 100px;
}

.empty_state_subtitle {
  font-size: 16px;
}

.empty_icon {
  transform: scale(10);
}
