<div class="add_todo_container">
  <div class="add_todo_input_container">
    <input
      [ngClass]="{
        add_todo_input: true,
        add_todo_input_error: form.errorMessage
      }"
      placeholder="Enter todo..."
      [(ngModel)]="form.todoTitle" />

    <span class="error_message" *ngIf="form.errorMessage">
      {{ form.errorMessage }}
    </span>
  </div>

  <button class="add_todo_button" (click)="addTodo()">
    Add Todo
    <mat-icon fontIcon="add" aria-label="Remove todo" />
  </button>
</div>

<div class="filter_container">
  <div class="filter_text">Filter by</div>

  <mat-button-toggle-group
    name="filter"
    [(ngModel)]="filter"
    (change)="applyFilter($event.value)">
    <mat-button-toggle value="ALL">view all</mat-button-toggle>
    <mat-button-toggle value="COMPLETED">completed</mat-button-toggle>
    <mat-button-toggle value="UNCOMPLETED">uncompleted</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="todo_list">
  <div class="todo_item" *ngFor="let todo of todos.displayableTodos">
    <div class="todo_item_info">
      <input
        class="todo_item_checkbox"
        type="checkbox"
        (click)="toggleTodo(todo)"
        [checked]="todo.completed" />

      <span [ngClass]="{ todo_item_completed: todo.completed }">
        {{ todo.title }}
      </span>
    </div>

    <mat-icon
      class="todo_item_remove"
      fontIcon="delete"
      aria-label="Remove todo"
      (click)="removeTodo(todo)" />
  </div>
</div>
